.container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 5px;
}

.container-disabled{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 25px;
}

.cell {
    border: 2px solid #000000;
}

.cell-active {
    background-image: url("../../../img/goblin.png");
    background-size: contain;
}